.highlights-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: calc(100% - 30px);

    mat-card {
      display: flex;
      justify-content: center;
      background-color: #636a78;
      color: white;
      text-align: center;
      width: 28.5%;
      margin-bottom: 20px;
      height: 190px;
      max-height: 40%;
      padding: 20px;
      -webkit-box-shadow: 3px 8px 20px 3px #292c31;
      -moz-box-shadow: 3px 8px 20px 3px #292c31;
      box-shadow: 3px 8px 20px 3px #292c31;

      mat-card-content {
        .highlight-item-title {
          height: 20%;
          text-align: left;
          font-size: 20px;
        }
        .highlight-item-content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 15px 0;
          height: 80%;

          mat-icon {
            font-size: 60px;
            width: 60px;
            height: 60px;
          }

          h2 {
            font-size: 26px;
          }
        }
      }
    }
}


@media screen and (max-width: 842px) {
    .highlights-grid {
        mat-card {
            width: 45%;
        }
    }
}
  
@media screen and (max-width: 556px) {
    .highlights-grid {
        mat-card {
            width: 100%;

            .highlight-item-content {
                margin-left: -20px;
            }
        }
    }
}