/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@include mat.core();

// Importe o tema deeppurple-amber
@include mat.all-component-themes(mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$deep-purple-palette),
    accent: mat.define-palette(mat.$amber-palette),
    warn: mat.define-palette(mat.$red-palette),
  )
)));

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
