.favorite-cities {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    
    .favorite-cities-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      width: 100%;
      color: white;
      background: none;
      border: none;
      cursor: pointer;
      
      h3 {
        color: white;
        font-size: 20px;
        margin-bottom: 15px;
      }

      .toggle-favorites-button {
        color: white;
      }
    }
    
    .favorite-cities-list {
      flex: 1;
      
      .scrollable-list {
        height: calc(100vh - 540px);
        overflow-y: auto;
        scrollbar-width: thin;
        
        mat-card {
          margin: 10px 0;
          background-color: #3d3d3d;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: #4a4a4a;
          }

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
  
          mat-card-content {
            .favorite-city-content {
              display: flex;
              justify-content: space-between;
              align-items: center;
  
              .favorite-city-name {
                margin: 0;
                font-size: 16px;
                text-align: left;
                display: block;
              }
    
              .favorite-city-admin {
                font-size: 14px;
                color: #cccccc;
                text-align: left;
                display: block;
              }
          
              .delete-button {
                color: white;
                background: none;
                border: none;
                padding: 0;
                cursor: pointer;
              }
              
              .delete-button:hover {
                color: #f44336;
              }
            }
          }
        }
      }
    }
}
@media screen and (max-width: 1024px) {
    .favorite-cities {
        .hidden-mobile {
            display: none;
        }
    }
}