<div class="loading-overlay" *ngIf="isLoading">
  <mat-progress-spinner 
    mode="indeterminate" 
    diameter="50"
    class="loading-spinner">
  </mat-progress-spinner>
</div>

<div class="weather-dashboard">
  <!-- Sidebar Section -->
  <mat-card class="sidebar">
    <mat-card-content>
      <div class="search-bar">
        <button class="location-button" mat-icon-button (click)="getCurrentLocation()">
          <mat-icon>share_location</mat-icon>
        </button>
        <mat-form-field>
          <input type="text"
                matInput
                [formControl]="citySearchControl"
                [matAutocomplete]="auto"
                placeholder="Search for a city">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCitySelected($event)" [displayWith]="displayFn">
            <mat-option *ngFor="let city of filteredCities | async" [value]="city">
              {{city.name}} / {{city.admin}}
            </mat-option>
            <mat-option 
              *ngIf="citySearchControl?.dirty
                && (citySearchControl.value?.length || 0) >= 3
                && (filteredCities | async)?.length === 0"
              [disabled]="true">
              No city found
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="divider"></div>
      <div class="current-weather">
        <div class="city-selected" *ngIf="citySelected">
          <div class="city-info">
            <button class="favorite-button" mat-icon-button (click)="toggleFavorite()" *ngIf="citySelected?.name !== 'Current Location'">
              <mat-icon [class.filled]="isFavorite" class="favorite-icon">
                {{ isFavorite ? 'favorite' : 'favorite_border' }}
              </mat-icon>
            </button>
            <span class="city-name">{{citySelected.name}}</span>
          </div>
          <span class="city-admin">{{citySelected.admin}}</span>
        </div>
        <div class="weather-icon">
          <mat-icon 
            [svgIcon]="getWeatherIcon(!!weatherData?.currentWeatherData?.isDayOrNight, weatherData?.currentWeatherData?.weatherCode)">
          </mat-icon>
        </div>
        <h1 class="current-temperature">
          <span class="current-temperature-value">
            {{weatherData?.currentWeatherData?.temperature | number:'1.0-0'}}
          </span>
          <span class="current-temperature-unit">
            {{weatherData?.currentWeatherUnits?.temperature}}
          </span>
        </h1>
        <div class="current-date">
          {{weatherData?.dailyForecast?.[0]?.time | date:'EEEE, MMMM d'}}
        </div>
      </div>
      <div class="divider"></div>
      <div class="favorite-cities">
        <button class="favorite-cities-header" 
             (click)="toggleFavoritesVisibility()"
             (keydown.enter)="toggleFavoritesVisibility()"
             [class.clickable]="isSmallScreen"
             *ngIf="isSmallScreen">
          <h3>Favorite Cities</h3>
          <mat-icon>{{ showFavorites ? 'expand_less' : 'expand_more' }}</mat-icon>
        </button>
        <div class="favorite-cities-header" *ngIf="!isSmallScreen">
          <h3>Favorite Cities</h3>
        </div>
        <div class="favorite-cities-list" [class.hidden-mobile]="isSmallScreen && !showFavorites">
          <div class="scrollable-list">
            <mat-card 
              *ngFor="let city of favoriteCities" 
              (click)="selectFavoriteCity(city)"
              (keydown.enter)="selectFavoriteCity(city)"
              (keydown)="$event.key === 'Enter' && selectFavoriteCity(city)"
              tabindex="0">
              <mat-card-content>
                <div class="favorite-city-content">
                  <div>
                    <span class="favorite-city-name">{{ city.name }}</span>
                    <span class="favorite-city-admin">{{ city.admin }}</span>
                  </div>
                  <button mat-icon-button 
                          class="delete-button" 
                          (click)="removeFavoriteCity(city); $event.stopPropagation()">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Main Content Section -->
  <div class="main-content">
    <!-- Weekly Forecast -->
    <div class="week-forecast">
      <div class="week-forecast-header">
        <h3>Week's Forecast</h3>
        <mat-slide-toggle [(ngModel)]="showLastWeek">
          <span>{{ showLastWeek ? 'Showing last week' : 'Showing current week' }}</span>
        </mat-slide-toggle>
      </div>
      <div class="forecast-grid">
        <mat-card *ngFor="let day of weatherListToShow">
          <mat-card-content>
            <span>{{ day.time | date:'EEE':'' }}</span>
            <span>{{ day.time | date:'MMM d':'' }}</span>
            <mat-icon
              class="weather-icon"
            [svgIcon]="getWeatherIcon(!!weatherData?.currentWeatherData?.isDayOrNight, day?.weatherCode)">
          </mat-icon>
            <div class="temperature-range">
              <span>{{ (day.temperatureMax | number:'1.0-0') + ' ' + weatherData?.forecastUnits?.temperatureMax }}</span>
              <span>{{ (day.temperatureMin | number:'1.0-0') + ' ' + weatherData?.forecastUnits?.temperatureMin }}</span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <!-- Today's Highlights -->
    <div class="today-highlights">
      <h3>Today's Highlights</h3>
      <div class="highlights-grid">
        <mat-card>
          <mat-card-content>
            <div class="highlight-item-title">
              <p>UV Index</p>
            </div>
            <div class="highlight-item-content">
              <mat-icon>brightness_high</mat-icon>
              <h2>{{weatherData?.dailyForecast?.[0]?.uvIndex | number:'1.0-0' }}</h2>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-content>  
            <div class="highlight-item-title">
              <p>Wind Speed</p>
            </div>
            <div class="highlight-item-content">
              <mat-icon>air</mat-icon>
              <h2>{{weatherData?.currentWeatherData?.windSpeed | number:'1.0-0' }} {{weatherData?.currentWeatherUnits?.windSpeed }}</h2>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-content>  
            <div class="highlight-item-title">
              <p>Humidity</p>
            </div>
            <div class="highlight-item-content">
              <mat-icon>opacity</mat-icon>
              <h2>{{weatherData?.currentWeatherData?.humidity | number:'1.0-0' }} {{weatherData?.currentWeatherUnits?.humidity }}</h2>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-content>  
            <div class="highlight-item-title">
              <p>Wind Direction</p>
            </div>
            <div class="highlight-item-content">
              <mat-icon>navigation</mat-icon>
              <h2>{{weatherData?.currentWeatherData?.windDirection | number:'1.0-0' }} {{weatherData?.currentWeatherUnits?.windDirection }}</h2>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-content>  
            <div class="highlight-item-title">
              <p>Feels Like</p>
            </div>
            <div class="highlight-item-content">
              <mat-icon>sentiment_satisfied</mat-icon>
              <h2> {{weatherData?.currentWeatherData?.apparentTemperature | number:'1.0-0' }} {{weatherData?.currentWeatherUnits?.apparentTemperature }}</h2>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-content>  
            <div class="highlight-item-title">
              <p>Pressure</p>
            </div>
            <div class="highlight-item-content">
              <mat-icon>speed</mat-icon>
              <h2> {{weatherData?.currentWeatherData?.surfacePressure | number:'1.0-0' }} {{weatherData?.currentWeatherUnits?.surfacePressure }}</h2>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
  